<!DOCTYPE html>
<html lang="en">
<head>
  <title>
  </title>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

  <link rel="stylesheet" href="styles/vue-notebook-styles.css"/>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
<!--<script>
  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
</script>-->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
  <p id="one" class="testP"></p>
  <p id="two" class="testP"></p>
  <div id="app0">it's {{ message }}</div>
  <div id="app1">
    <a href="#" v-bind:title="message">oil.boil()</a>
  </div>
  <div id="app2">
    <div v-if="seen">Don't fall in the olives' oil, boy!</div>
  </div>
  <button id="app2Butt">theNaj</button>
  <div id="app3">
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
  </div>
  <div id="app4">
    <div>{{ message }}</div>
    <input v-model="message"/>
  </div>
</body>

<script src="lib/script1.js"></script>

</html>
