body {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
}

div.appShell {
  position: relative;
}

a, a:link, a:hover, a:visited, a:active {
  text-decoration: none;
  color: white;
}

div.flexOuterCenter,
div.flexOuterStart,
div.flexOuterEnd,
div.flexOuterSpaceBetween
 {
  display: flex;
  flex-flow: row wrap;
}

div.flexOuterCenter {
  justify-content: center;
}

div.flexOuterStart {
  justify-content: flex-start;
}

div.flexOuterEnd {
  justify-content: flex-end;
}

div.flexOuterSpaceBetween {
  justify-content: space-between;
}

header {
  position: relative;
  width: 100%;
}

nav.wideNavHeadBand {
  padding: 0 5%;
  background-color: lightsteelblue;
  width: 100%;
  display: none;
}

a.headerNav {
  padding: 0.1em;
  margin: 0.2em;
  font-size: 26px;
  text-align: center;
  border-bottom: 2px solid lightsteelblue;
}

a.headerNav:hover {
  border-bottom: 2px solid white;
}

.mobileSearchModal {
  top: 30%;
  background-color: gainsboro;
  padding: 0.75em;
  border-radius: 0.3px;
  position: absolute;
  width: 80%;
  opacity: 0;
  display: none;
  z-index: 12;
}

#closeSearchModal {
  font-size: 32px;
  font-weight: bold;
  padding: 0.25em;
  cursor: pointer;
  color: white;
}

nav.mobileNavMenu {
  background-color: lightsteelblue;
  z-index: 11;
  position: absolute;
  width: 70%;
  height: 100%;
  left: -70%;
}

a.mobileNav {
  padding: 0.2em;
  margin: 0;
  font-size: 26px;
  width: 100%;
  border-bottom: 1px solid white;
  text-align: center;
}

#closeMobileNav {
  text-align: right;
  padding: 0.1em 1em 0 0;
  font-size: 32px;
}

div.mobileNavHeadBand {
  background-color: gainsboro;
  position: fixed;
  width: 100%;
  z-index: 9;
}

@media only screen and (min-width: 1024px) {
  div.mobileNavHeadBand {
    display: none;
  }

  nav.wideNavHeadBand {
    display: block;
  }
}

input.window {
  padding: 0.5em;
  border: 1px solid lightsteelblue;
  border-radius: 3px;
  margin: 0.2em 0;
  font-size: 14px;
  //width: 50%;
}

#searchBar {
  width: 80%;
}

button.door {
  height: 2em;
  padding: 0.4em;
  background-color: lightsteelblue;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 20px;
}

span.look {
  margin: 0.8em 0.8em 0 0.8em;
  cursor: pointer;
}

i[class="fa fa-search"] {
  color: white;
  font-size: 26px;
}

div.hamburger {
  padding: 0.3em 0.5em 0.4em 0.5em;
  margin: 0.5em;
  background-color: lightsteelblue;
  width: 40px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  cursor: pointer;
}

div.navHR {
  height: 3px;
  width: 95%;
  margin: 2.5px 0;
  background-color: white;
  //flex: 1 1 30%;
}

h1.mainTitle,
h2.shadowTitle {
  text-align: center;
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 4;
}

h1.mainTitle {
  opacity: 0.8;
  top: 56px;
  left: -49px;
}

h2.shadowTitle {
  font-size: 32px;
  opacity: 0.3;
  top: 80px;
  font-weight: 200;
  //left: 55px;
}

div.comp {
  padding: 1em;
  margin: 2em;
  background-color: lavender;
  color: steelblue;
  border-radius: 3px;
}

article.appScreen {
  padding: 7em 1em 1em 1em;
}

article.geoBlock {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

section.map,
section.locales,
section.socialMedia,
section.reviews {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

footer {
  width: 100%;
  background-color: darkgrey;
  padding: 1em;
}

footer span {
  color: white;
  padding: 0 0.5em;
}
